.toggle-btn ,.toggle-btn1, .toggle-btn2{
    margin:10px;
    padding:10px 20px;
    background-color:rgb(230,230,230);
    border:none;
    border-radius:20px;
    width:150px;
    font-weight: 525;
    cursor:pointer;
}
.is-toggled{
    background-color:black;
    color:white;
}